/*

!.gitignore
!README.md

!.config/
.config/*
!.config/nvim/
!.config/alacritty/
!.config/fish/
!.config/zathura/
!.config/wofi/
!.config/waybar/
!.config/btop/
!.config/fastfetch/
!.config/foot/
!.config/hypr/
!.config/panacea/
!.config/quickshell/

!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/wallset

.config/fish/fish_variables
.config/fish/fish_history
.config/hypr/lua/binds_data.lua
.config/hypr/lua/monitors_data.lua
.config/hypr/lua/term_data.lua
.config/hypr/wallpaper.conf
.config/hypr/hyprpaper.conf
.config/hypr/wallpaper/
.config/panacea/.vibrance
.config/panacea/.version
.config/panacea/.whatsnew
.config/panacea/.missingdeps
.config/panacea/.obsoletedeps
.config/panacea/sounds/
**/__pycache__/
*.bak
*.bak-*
